body {
    margin: 0;
    background-color: #99B0AA!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  select:hover{
    background-color: rgb(245, 234, 234)!important;
    color: black !important;
  }
  .ck.ck-reset, .ck.ck-reset_all{
    width: 100% !important;
  }
  .ck-content{
    background-color: rgb(228, 231, 231)!important;
    height: 15rem!important;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .nav-link{
    color: white!important;
  }
  .contactInput[type="text"]:focus{
    outline:none!important;
  }
  .contact-btn{
    padding:6px 35px!important;
    margin: 0 auto;
  }
  .searchForm{
    height:5rem;
    background-color:rgb(77, 75, 75);
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius:5px;
  }
  .searchForm input{
    border: 0;
    padding:5px 10px;
    border-radius:5px;
  
  }
  .navbar{
    height: 4rem;
    margin-left: 0 !important;
  }
  
  .navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-around !important;
    height: 100% !important;
    width: 90% !important;
  }

  .nav-link:hover{
    background-color: rgb(138, 149, 151);
    /* padding: 0.4rem!important; */
    transition: all 0.5s;
  }
  .nav-link:active{
    background-color: rgb(16, 96, 216)
  }
  .nav-link span{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* .adminUl li a{
    text-decoration: none;
    color: white;
  }
  .adminUl li{
    list-style: none;
  }
  .adminUl ul li a:hover a{
    font-size: 4rem;
  } */
  /* .changeColor:hover{
    color: #FFC107!important;
    cursor: pointer;
  }
  .changeColor{
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
    padding: 0.5rem 0;
  } */


/* post image css */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
/* body{
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
} */

/* upload form styles */ 
#tableROW:nth-child(even)
{
  background-color: #f2f2f2!important;
  /* color:white */
}
#tableROW:hover {background-color: #ddd}
#tableROW td:hover {
  cursor: pointer;  
}